{% extends "base.html" %}

{% block content %}

  <div class="container">
    {% for post in posts %}
    <aside>
      <p>Trend Tags</p>
    </aside>  
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title"><a href="{{ post.created_by.username }}">{{ post.created_by.username }}</a></h2>
          <img class="img-fluid mb-3" style="max-height:400px" src="{{ post.image.url }}"/>
          <p class="card-text">{{ post.text }}</p>
          {% if user.is_authenticated %}
          <button><a href="{% url "posts:update_post" user.id %}">Update / Delete</a></button></br>
          {% endif %}
        </div>
        <small class="card-footer text-muted text-right p-2">{{ post.creation_datetime|date:"H:i - d.m.Y" }}</small>
      </div>
    {% endfor %}
  </div>

  <div class="Pagination">
    <center>
    <span class="step-links">
      {% if page_obj.has_previous %}          
          <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      <span class="current">
        {{ page_obj.number }}
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </span></center>
  </div>
  <br>

{% endblock content %}
