{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <form method="POST" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" style="background-color: green;" class="save btn btn-secondary">Update</button>
      <button type="submit" style="background-color: red;" class="save btn btn-secondary"><a href="{% url "posts:delete_post" post.id %}">Delete</a></button>
      <button type="submit" style="background-color: gray;" class="save btn btn-secondary">Cancel</button>
  </form>
</div>

{% endblock content %}
