{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <form method="POST" novalidate>
      {% csrf_token %}
    <center>
      <img class="img-fluid mb-3" style="max-height:400px" src="{{ post.image.url }}"/>
    </center><br>
        {{ form.text|as_crispy_field }}
        {{ form.tags|as_crispy_field }}
      <button type="submit" style="background-color: green;" class="save btn btn-secondary">Update</button>
  </form><br>
      <a href="{% url "posts:list" %}">
      <button type="submit" style="background-color: gray;" class="save btn btn-secondary">Cancel</button>
      </a>
    </br>
</div>

{% endblock content %}
