{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <ul class="list-group">
        {% for message in q1 %}
            <p class="list list-group-item-primary" style="align-self: flex-start;"> {{ message.text }} </p><br>
        {% endfor %}

        {% for message in q2 %}
            <p class="list list-group-item-danger" style="align-self: flex-end;">{{ message.text }} </p><br>
        {% endfor %}
    </ul>
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" style="background-color: green;" class="save btn btn-secondary">Send</button>
    </form>
</div>

{% endblock %}
